<div class="bar bar-header bar-positive">
     <h1 class="title">Saved Jobs</h1>
</div>

<!-- <<<<<<< HEAD
    <ion-content>
      <ion-list show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
======= -->
    <ion-content style="top: 100px;">

      <ion-list show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">


        <div  ng-repeat="job in savedJobsFrontPage" job="job">
          <ion-item class="item-stable"
                   ng-click="toggleGroup(job)"
                    ng-class="{active: isGroupShown(job)}">
                     <ion-option-button class="button-positive">
      Share
    </ion-option-button>
            <p><b>{{job.jobtitle}}</b><i class="icon" style="float:right;" ng-class="isGroupShown(job) ? 'ion-minus' : 'ion-plus'"></i></p>
            <p>Company: {{job.company}}</p>
            <p>Location: {{job.formattedLocationFull}}</p>
          </ion-item>
          <ion-item class="item-text-wrap item-accordion"
                    ng-show="isGroupShown(job)">

                    <button class="button button-assertive" ng-click="removeJobFromUser(job)" style="position: inline; float: right;">delete</button>
            {{job.snippet}}

          </ion-item>
        </div>
      </ion-list>

    </ion-content>
