<ion-view view-title="Jobs Page">
  <ion-content class="padding">

  <div class="col">
<div class="row">
 

    
<td-cards>
        <td-card ng-repeat="job in jobArray" on-swipe-left="saveOrPass('pass', job)"  on-swipe-right="saveOrPass('save', job)" on-partial-swipe="cardPartialSwipe(amt)" ng-show="$index===currentJob" class="card-{{$index}}" ng-click="flipCard()">


          <div class="image" ng-hide="flip">
            <center>
          <img src= "http://indeed.com/{{job.logo}}" onerror='this.onerror = null; this.src="http://www.mrwallpaper.com/wallpapers/Dragon-Rider.jpg"'>
            <h5>{{job.jobtitle}} At {{job.company}}</h5>
            <h6>{{job.formattedLocationFull}}</h6>
          </center>

            <div class="no-text">NOPE</div>
            <h5>Description:</h5>
            <p>{{job.snippet}}</p>
            <div class="yes-text">SAVE</div>
          </div>

          <div class="image" ng-show="flip">
            <center>
             <img src= "http://indeed.com/{{job.logo}}" onerror='this.onerror = null; this.src="http://www.mrwallpaper.com/wallpapers/Dragon-Rider.jpg"'>
            <h5>{{job.jobtitle}} At {{job.company}}</h5>
          </center>
            <h5>Qualifications:</h5>
            <p>{{job.summary}}</p>
<center>
            <a href = "{{job.url}}" target = '_blank'><button class="button icon-left ion-star button-positive" >View Full Post</button></a>
          </center>

           <!--  <h4 a href = "{{job.}}"></h4> -->

            <div class="no-text">NOPE</div>
            <div class="yes-text">SAVE</div>
         

          </div>



        </td-card>
      </td-cards>
 
  </div>
</div>

   
    
  </ion-content>
</ion-view>
