<ion-view view-title="Jobs Page">
  <ion-content class="padding">




<td-cards>
        <td-card ng-repeat="job in jobArray" on-swipe-left="saveOrPass('pass', job)"  on-swipe-right="saveOrPass('save', job)" on-partial-swipe="cardPartialSwipe(amt)" ng-show="$index===currentJob" class="card-{{$index}}">
<div class="flip-container" ng-click = "flipCard()">
  <div class="flipper">
    <div class="{{cardClass}}">


          <div class="image">
            <center>
            <h5>{{job.jobtitle}} At {{job.company}}</h5>
            <h6>{{job.formattedLocationFull}}</h6>
          </center>

            <div class="no-text">NOPE</div>
            <img src = "{{job.logo}}">
            <h6>Description:</h6>
            <p>{{job.snippet}}</p>
            <div class="yes-text">SAVE</div>
          </div>


      <div class="back">
      fuck you
    </div>
      </div>

  </div>
</div>
        </td-card>
      </td-cards>


  </ion-content>
</ion-view>
