<ion-view view-title="Login">
  <ion-content>
  <center>
    
     <ion-slide-box>
         <ion-slide>
        <div class= 'box'> Welcoem to Jobsies</div>
        <img style="width: 95%;" src = '/images/intro-bg.jpg'>
    </ion-slide>
    <ion-slide>
        <div class= 'box'>Login With LinkedIn</div>
        <img style="width: 95%;" src = '/images/linkedIN.jpeg'>
    </ion-slide>
      <ion-slide>
        <div class= 'box'>Find the Job of your Dreams</div>
        <img style="width: 95%;" src = '/images/ionic.png'>
    </ion-slide>
  </ion-slide-box>
  <button ng-click="loginOauth('linkedin')">Login With Linkedin</button>
</center>
  </ion-content>
</ion-view>


