<ion-view view-title="Jobs Page">
  <ion-content class="padding">



    <div class="list card">
      <div class="item item-divider">Welcome {{user.name}}</div>
      <div class="item item-body">
        <div>
       
          {{user.linkedin.headline}}<br>
          {{user.linkedin.location.name}}
        </div>
      </div>
    </div>
<td-cards>
        <td-card ng-repeat="job in jobArray" on-swipe-left="saveOrPass('pass', job)"  on-swipe-right="saveOrPass('save', job)" on-partial-swipe="cardPartialSwipe(amt)" ng-show="$index===currentJob" class="card-{{$index}}">
          <div class="image" >
            <div class="no-text">NOPE</div>
            {{job.jobtitle}}
            {{job.company}}
            {{job.snippet}}
            <div class="yes-text">LIKE</div>
          </div>

        </td-card>
      </td-cards>
      </div>
  </ion-content>
</ion-view>
