<ion-view view-title="Login">
<div class="bar bar-header bar-positive">
     <h1 class="title">Jobsies</h1>
</div>
  <ion-content style="top: 50px;">
     <ion-slide-box>
         <ion-slide>
         <center>
        <img style="height: 250px;" ng-src = 'images/jobsies-vertical@2x.png'>
        </center>
    </ion-slide>
    <ion-slide>
        <center>
          <h3>Swipe Right to Save <br>Jobs You Like</h3>
        <img style="height: 250px;" ng-src = 'images/dragon1.png'></center>
    </ion-slide>
      <ion-slide>
        <center>
           <h3>Swipe Left to pass on Jobs <br>That just aren't for you</h3>
        <img style="height: 250px;" ng-src = 'images/nope_job.png'></center>
    </ion-slide>
      <ion-slide>
        <center>
           <h3>Tap on job card to see more information</h3>
        <img style="height: 250px;" ng-src = 'images/more_info.png'></center>
    </ion-slide>
  </ion-slide-box>
  <button ng-click="LinkedinLogin()">Linkedin Login please!!?#!</button>
  <p>stuffs {{pawel}}</p>
  <!-- <p>stuffs {{pawel.access_token}}</p> -->
  <p>User info! json? {{UserInfo}}</p>
  
  <p>not needed {{indeed}}</p>
 <!--   <center><button class="button button-large col col-50 icon ion-social-linkedin-outline button-positive" ng-click="loginOauth('linkedin')" style="border-radius: 10px;">  Login</button></center> -->
  </ion-content>
</ion-view>


